/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

ul {
  list-style-type: none;
  font-weight: 300;
  font-style: italic;
  margin-left: 15px;
  /*font-color:red;*/
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {

/*background-color:#f9f9f9;*/

}

.center {

margin: auto;
width: 700px;
font-family: "IBM Plex Sans", sans-serif;
font-weight: thin;
/*font-family: "IBM Plex Serif";*/
/*font-weight: 400;*/
font-size: 1.3rem;
color: #333333;
margin-top: 2%;
margin-bottom: 3%;
}

.marg{

margin-top: 5%;
margin-bottom: 5%;

}

.centerMin {

margin: auto;
width: 100%;
}


.big {
font-size: 4rem;
text-align: center;


}

.spanText {
font-size: 11rem;
text-align: center;
font-family: "IBM Plex Sans", monospace;
transition: ease all 1s; 
/*background-color: whitesmoke;*/
/*padding: .1%;*/
line-height: 104%;
z-index: 100;
font-weight: 900;
color: black;
color: white;
opacity: .9;
/*border-radius: 30px;*/
/*letter-spacing: 40%;*/
margin: -4px;
/*background-blend-mode: multiply;*/
mix-blend-mode: hard-light;
animation: 4s span;
letter-spacing: -9px;
/*animation-iteration-count: infinite;*/


}


@keyframes span {

from {transform:  rotateX(10deg);}

to {transform:  rotateX(10deg);}


}

.centerNorm {

margin: auto;
width: 700px;
font-family: "IBM Plex Sans",  sans-serif;
/*font-family: "IBM Plex Serif";*/
font-weight: 500;
font-size: 1.1irem;
color: #333333;
}

.headImg{

width: 50%;
max-width:50%;
margin: auto;
display: block;
margin-bottom: 2%;
/*float:  center;*/


}

.gifImg {

width: 100%;
max-width:60%;
margin: auto;
display: block;
margin-bottom: 2%;
border: solid black 5px;
border-radius: 5px;
/*float:  center;*/

}


.parcel img {
width: 100%;
height: auto;
/*transform: translateY(-20%);*/
/*max-height: 100vh;*/
display: inline;
z-index: 0;


}

.spanCont {

 position: absolute;
    top: 70px;
    left: 40px;
    /*text-shadow: 4px 5px 3px rgba(0,0,0,0.3);*/


text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.3),
             0px 18px 23px rgba(0,0,0,0.3);


}

.parcel {

    position: relative;

}


#header {

position: absolute;
top: 10%;
left:10%;
line-height: 80%;
font-size: 4rem;

font-weight: 900;
background-blend-mode: difference;

}


.subHeader {

/*position: absolute;*/
/*top: 26%;
left:12%;*/
margin: auto;
line-height: 100%;
text-align: center;
font-size: 2.9rem;
font-weight: 400;
font-family: "IBM Plex Serif";
margin-bottom: 2%;
margin-top: 2%;


}

#two{
color: red;

}

.trans {

font-family: "IBM Plex Mono", monospace;
font-size: 4px;

}

#transDiv {
     background:
    url('Amazon_Smile_logo.jpg') center center no-repeat;

background-size: contain;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
position: absolute;
left: 10px;
top: 5px;
}


#term1, #term2, #term3,#term4, #term5, #term6, #term7, #term8,  {

/*margin: .5%;*/
font-size: 1.1rem;
/*margin-bottom: -10%;*/
/*transform: translateY(-120px);*/
position: relative;


}

.terms {

position: absolute;
/*bottom: 10px;*/
display: inline;
z-index: 100;
}


.footer {
box-shadow: .9px 3px 3px rgba(0,0,0,.34);
padding: 5%;
border-radius: 5px;
margin-top: 3%;

}

#testDiv {

width: 80%;
margin: auto;
height: 30vh;
color: white;
background-color: #333333;
font-family: 'IBM Plex Mono', monospace;
font-size: 2rem;
font-weight: 700;
margin-top: 5%;
/*border: dashed gray 2px;*/
box-shadow: .9px 3px 9px rgba(0,0,0,.34);

padding: 2%;
padding-top: 10%;
/*padding-left: 1%;*/
/*padding-right: 1%;*/

}
#testDiv {

  /*color: green;*/
  padding-left: 10%;
padding-right: 10%;
}

.smile1{
position: absolute;
top: 29%;
left:10%;
width: 50%;
z-index: -100;
opacity: 1;
/*display: inline;*/
/*animation-name: smileAni;
animation-fill-mode: forwards;

animation-delay: 8.6s;
animation-duration: 1s;*/

}




.smile{
position: absolute;
top: 29%;
left:10%;
width: 50%;
z-index: -100;
opacity: 0;
animation-name: smileAni;
animation-fill-mode: forwards;

animation-delay: 8.6s;
animation-duration: 1s;

}



@keyframes smileAni {

0% {
opacity: 0;

}

100% {

 opacity: .9;   
}


}

h1, h2 {

font-family: "IBM Plex Sans";
font-style: italic;
margin:auto;
/*width: 700px;*/
width: 80%;
}


h2.sub {

 font-style: normal;
 font-size: 1.9rem;
 margin-top: 2%;

}

h1.sub {

 font-style: normal;
 font-size: 3rem;
 margin-top: 2%;

}


.flex {

display: flex;
flex-wrap: wrap;
justify-content: space-between;
max-width: 100%;
width: 100%;
margin:auto;

}

.item {



}







.flexImg {

display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
max-width: 700px;
align-items: baseline;
margin:auto;

}

.flexItem {
/*flex-basis: 20%;*/
width: 10%;
height: 10%;
padding: .1%;
/*border: dashed gray;*/
/*max-height: 30%;*/
margin:auto;
border-radius: 7px;
transition: ease all .3s;
    filter: contrast(100%);
    /*filter: satimurate(0%);*/


}

/*the hover ones*/



.item {



}





.flexImgWeb {

display: flex;
flex-wrap: wrap;
/*justify-content: space-evenly;*/
max-width: 700px;
/*align-items: baseline;*/
margin:auto;

}

.flexItemWeb {
/*flex-basis: 20%;*/
width: 30%;
height: 20%;
padding: .5%;
/*max-height: 30%;*/
margin:auto;
border-radius: 7px;
transition: ease all .3s;
    filter: contrast(110%);


}



.flexItemWeb:hover {

width: 100%;
transition: ease .3s all;

}

.darken {

opacity: .1;

}


.abs{

position: fixed;
left: 300px;
top:50%;
font-family: "IBM Plex Mono", monospace;
font-weight: 400;
background-color:white;
font-size: .9rem;
padding: 2%;
width: 55%;
color: #333333;
opacity: 1;
transition: 2s ease;
z-index: 100;

}

.anno {

font-style: italic;
font-weight: 900;
font-size: 7;
font-family: "IBM Plex Sans", sans-serif;

}

.ital {

font-style: italic;


}


.annoSent {

/*font-style: italic;*/
font-weight: 400;
font-size: 12;
color:red;
font-family: "IBM Plex Sans", sans-serif;

}


.flexItem:hover {



/*width: 31%;*/
transition: ease .9s all;
    filter: saturate(100%);

}

.r {

/*background-color: yellow;*/
/*padding: .5%;*/
font-weight: 900;
border-bottom: 8px solid yellow;
/*text-decoration: underline;
text-decoration-color: yellow;
text-decoration-style: thick;
*/

}


a {

color: #333333;

}

a:hover {

font-weight: 800;

};

.para {
font-family: "IBM Plex Sans", sans-serif;
/*font-family: "IBM Plex Serif", sans-serif;*/

}

.it {

font-style: italic;
font-size: .8rem;

}

.text {

font-family: "IBM Plex Mono", mono;


}

#stock {

margin-top: 2%;
max-width: 100%;
/*width: 700px;*/
/*height: 800px;*/


}




/*######ANNO*/

.ag {

/*background-color:white;*/
/*color: green;*/
/*color: green;
fill: red;
stroke: black;
margin: 2%;*/
/*stroke-fill: black;*/
/*border: none;*/
}

:root {
    --annotation-color: #333333;
}

.annotation path {
  stroke: var(--annotation-color);
  fill: none;
}

.annotation text,
.annotation .annotation-connector .connector-dot,
.annotation path.connector-arrow,
.annotation.callout.rect path.subject{
  fill: var(--annotation-color);
  font-family: "IBM Plex Mono",monospace;
  font-size: .9rem;
}

.annotation-note-title {
  font-weight: 900;
}

.annotation-note-bg {
  fill: rgba(0, 0, 0, 0);;
}

.annotation.callout.rect path.subject{
  fill-opacity: .1;
}

.annotation.badge path.subject-pointer, .annotation.badge path.subject {
  fill: var(--annotation-color);
  stroke-width: 3px;
  stroke-linecap: round;
} 

.annotation.badge path.subject-ring {
  fill: white;
  stroke-width: 3px;
}

.annotation.badge .badge-text {
  fill: white;
  font-size: .7em;
}

/* Handling edit mode styles */
.editable .annotation-subject, .editable .annotation-note {
  cursor: move;
}

circle.handle {
  stroke-dasharray: 5;
  stroke: var(--annotation-color);
  fill: rgba(255, 255, 255, .2);
  cursor: move;

  stroke-opacity: .4;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
